body {
  margin: 0;
}

#gauche {
  float: left;
  width: 70%;
  height: 1000px;
  background-color: #EFECCA;
}
#droite {
  background-color: #CEFFF8;
  height: 1000px;
  padding : 10px;
  padding-left: 71%;
}

#gauche input {
  display: inline-block;
  margin-left: 2rem;
}

span {
  line-height: 3rem;
  margin-left: 1rem;
}


#gauche button {
  display: block;
  margin-left: 4rem;
}